div .content{
	color: blue;

}
h1.content{
	color: red;

}

#content{
	color: purple;
}
div,p{
	font-weight: bold;
}
/*CHILD*/
article>p{
	color:yellow;
}
aside +p{
	background-color:lightgreen;  
}
header ~p{
	background-color:lightblue;

}
a{
	background-color: green;
	text-decoration: none;

}
p#custom:hover{
	cursor: pointer;
}