div .content{
	color: blue;
}
h1.content{
	color: red;
}
#content{
	color:purple;
}
 div,p{
 	font-weight: bold;
 }
 /*CHILD*/
     article >p{
	color: yellow;
 }

 /*DESCENDANT

   article p{
   	color:tomato;
   }*/


   aside +p{
	background-color:
	lightgreen;
   }



   header ~p{
   	background-color:lightblue;
   }


   a{
   	background-color: green; 
   text-decoration: none;
   }
   p#custom:hover{
   	cursor: pointer;
   }

   ::-moz-selection { /* Code for Firefox */
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}
h1::after {
  content: url(smiley.gif);
}
h1::before {
  content: url(smiley.gif);
}
p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

p::first-line {
  color: #0000ff;
  font-variant: small-caps;
}
p.intro::first-letter {
  color: #ff0000;
  font-size:200%;
}
p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
p::first-line {
  color: #ff0000;
  font-variant: small-caps;
}
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
a.highlight:hover {
  color: #ff0000;
} 
div {
  background-color: green;
  color: white;
  padding: 25px;
  text-align: center;
}

div:hover {
  background-color: blue;
}
p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
}
p:first-child {
  color: blue;
}
p i:first-child {
  color: blue;
} 
p:first-child i {
  color: blue;
}
q:lang(no) {
  quotes: "~" "~";
}

